<% provide(:title, @event.name) %>
<script>
  function copyLink(link) {
      navigator.clipboard.writeText(link).then(
        function() {
          console.log("success");
        }, function(){
            console.error("error")
        })
  }
</script>
<%= tag.div class: "event-page" do %>
  <h1 class="event-name"><%= @event.name %></h1>

  <%= tag.div id: "react-event-calendar", 
    "data-suggested-times": @event.suggested_event_times.to_json(only: [:start_time, :end_time]),
    "data-participant-times": @times.to_json,
    "data-participants": @participants.to_json  %>
  <div class="event-details">
    <% if @current_user == @event.host%>
      <%= link_to  edit_event_path(@event), class: 'edit-link' do %>
        <i class="edit-icon fa-solid fa-pen-to-square fa-2xl"></i>
        <span>Edit</span>
      <% end %>
      <section class="share-event-link-section">
        <h2>Share</h2>
          <span class="share-event-link">
            <%= join_event_url(@event) %>
          </span>
          <button 
                type="button" 
                class="copy-share-event-link-btn"
                onclick='copyLink("<%= join_event_url @event %>")'
          >
            Copy link
          </button>
      </section>

    <% else %>
      <%= link_to 'Leave event', 
        participation_path(@participation), 
        method: :delete, 
        class: "leave-event-link",
        data: { confirm: "Leave #{@event.name}?" }
      %>
    <% end %> 
    <%#= link_to "Invite participants", invite_event_path(@event) %>
    <h2 class="participants-list-heading">Participants</h2>
    <ul class="participants-list">
      <% @event.participants.each do |participant| %>
        <li class="participant-li"><%= participant.name %></li>
      <% end %>
    </ul>
    <div>
    <% end %>
