<% provide(:title, @event.name) %>
<script>
  function copyLink(link) {
      function closeErrorMsg() {
          const errorMsg = document.getElementById("share-event-link-error")
          errorMsg.remove()
      }

      function closeSuccessMsg() {
          const msg = document.getElementById("share-event-link-success")
          msg.remove()
      }

      navigator.clipboard.writeText(link).then(
        function() {
            const section = document.querySelector(".share-event-link-section")
            const template = document.getElementById("share-event-success-template")
            section.appendChild(template.content.cloneNode(true))

            const closeBtn = document.querySelector(".close-share-event-success-btn")
            closeBtn.addEventListener("click", () => {
                closeBtn.remove("click", closeSuccessMsg)
                closeSuccessMsg()
              })
        }, function(){
            const section = document.querySelector(".share-event-link-section")
            const template = document.getElementById("share-event-error-template")
            section.appendChild(template.content.cloneNode(true))

            const closeBtn = document.querySelector(".close-share-event-error-btn")
            closeBtn.addEventListener("click", () => {
                closeBtn.remove("click", closeErrorMsg)
                closeErrorMsg()
              })
          })

  }
</script>
<%= tag.div class: "event-page" do %>
  <h1 class="event-name"><%= @event.name %></h1>

  <%= tag.div id: "react-event-calendar", 
    "data-suggested-times": @event.suggested_event_times.to_json(only: [:start_time, :end_time]),
    "data-participant-times": @times.to_json,
    "data-participants": @participants.to_json  %>
  <div class="event-details">
    <% if @current_user == @event.host%>
      <%= link_to  edit_event_path(@event), class: 'edit-link' do %>
        <i class="edit-icon fa-solid fa-pen-to-square fa-2xl"></i>
        <span>Edit</span>
      <% end %>
      <section class="share-event-link-section">
        <h2>Share</h2>
          <span class="share-event-link">
            <%= join_event_url(@event) %>
          </span>
          <button 
                type="button" 
                class="copy-share-event-link-btn"
                onclick='copyLink("<%= join_event_url @event %>")'
          >
            Copy link
          </button>
          <template id="share-event-success-template">
          <section id="share-event-link-success">
            <strong>
              The link was successfully copied to the clipboard.
            </strong>
            <button type="reset" class='close-share-event-success-btn' aria-label="Close">&times;</button>
          </section>
          </template>
          <template id="share-event-error-template">
          <section id="share-event-link-error">
            <strong>
              The link couldn’t be copied to the clipboard.
            </strong>
            <button type="reset" class='close-share-event-error-btn' aria-label="Close">&times;</button>
          </section>
          </template>
      </section>

    <% else %>
      <%= link_to 'Leave event', 
        participation_path(@participation), 
        method: :delete, 
        class: "leave-event-link",
        data: { confirm: "Leave #{@event.name}?" }
      %>
    <% end %> 
    <%#= link_to "Invite participants", invite_event_path(@event) %>
    <h2 class="participants-list-heading">Participants</h2>
    <ul class="participants-list">
      <% @event.participants.each do |participant| %>
        <li class="participant-li"><%= participant.name %></li>
      <% end %>
    </ul>
    <div>
    <% end %>
