<ul>
  <li>
    <%= link_to root_path do%>
      <%= render 'layouts/home_icon' %>
    <% end %>
  </li>
  <li>
    <%= link_to free_times_user_path(@current_user) do %>
      <%= render 'layouts/calendar_icon' %>
    <% end%>
  </li>
  <li>
    <%= link_to new_event_path do %>
      <%= render 'layouts/create_event_icon' %>
    <% end %>
  </li>
  
  <li class="header-menu-li">
    <%= render 'layouts/header_menu_icon' %>
    <ul class="header-menu" style="visibility: hidden;">
      <li>
        <%= link_to "Edit account",  edit_user_path(@current_user) %>
      </li>
      <li>
        <%= link_to "Log out", logout_path %>
      </li>
    </ul>
  </li>
</ul>
