<ul>
  <li>
    <%= link_to root_path, 'aria-label': "home page" do%>
      <%= render 'layouts/home_icon', 
        classname: current_page?(controller: "static_pages", action: "welcome") || (params[:controller] == 'events' && params[:action] != "new")  ?  "current-page-icon"  : "" %>
    <% end %>
  </li>
  <li>
    <%= link_to free_times_user_path(@current_user), 'aria-label': "Your free times" do %>
      <%= render 'layouts/calendar_icon', classname: params[:controller] == "users" && params[:action] == "free_times" ? "current-page-icon" : "" %>
    <% end%>
  </li>
  <li>
    <%= link_to new_event_path, 'aria-label': "Create a new event" do %>
      <%= render 'layouts/create_event_icon', classname: current_page?(controller: "events", action: "new") ? "current-page-icon" : ""%>
    <% end %>
  </li>
  
  <li class="header-menu-li" aria-label="click for more options">
    <%= render 'layouts/header_menu_icon' %>
    <ul class="header-menu" style="visibility: hidden;">
      <li>
        <%= link_to "Edit account",  edit_user_path(@current_user) %>
      </li>
      <li>
        <%= link_to "Log out", logout_path, method: :delete %>
      </li>
    </ul>
  </li>
</ul>
